<% provide(:title, "About") %>

<section id= "animation-about-page">
  <div id= "stellar-about-page"></div>
  <h1>Love Space Mission</h1>
  <h2>
   We rocket a proof of your love into space to eternalize it ! </br></br> 
 </h2>
 <div id= "circle-container">
  <div class="circle-container"></div>
  <script>(function() {
    $(function() {
      var circles, i, left, size, top, total, _i;
      circles = "";
      total = 1;
      size = 570;
      top = function(index) {
        return -(size / 2) + (size / 2) * Math.cos((2 * Math.PI * (index - 1) / total) + Math.PI * 2/8);
      };
      left = function(index) {
        return -(size / 2) + (size / 2) * Math.sin( (2 * Math.PI * (index - 1) / total) + Math.PI * 2/8);
      };
      for (i = _i = 1; 1 <= total ? _i <= total : _i >= total; i = 1 <= total ? ++_i : --_i) {
        circles += "<div class=\"circle index-" + i + "\" style=\" width:" + size + "px; height:" + size + "px; top:" + (top(i)) + "px; left:" + (left(i)) + "px; \"></div>";
      }
      return $('.circle-container').html(circles);
    });

  }).call(this);
      //@ sourceURL=pen.js
      </script>
    </div>

  </section>

  <section id="about-page-mission">
   <div class="title-about">The mission</div>
   <div class="row-fluid">

     <div class="col-xs-0 col-sm-1 col-md-1">
     </div>
     <div class="col-xs-12 col-sm-10 col-md-6">
      <div class="about-description"> 
        One day, some crazy guys decided they wanted to leave a part of them to be remembered for ever.  One of them got this surprising idea : <b>“What about eternalizing your love into space ?”</b> <br />They then booked a satellite to be sent into space with love proofs for their loved ones. <br />
        <b><em>The founders of the idea would like anyone to be able to join this very first space mission of a long series and unique life experience! But space aboard is limited !</em></b><br /><br />

        Shape your love message on the website, we will send it to you on premium paper for you to customize it with your own handwriting. This can be a memorable moment to share with your significant other ! <br /><b>The space mission will make sure your message is onboard the spaceship and will orbit the earth for eternity!</b>
        <br /><br />
        Your love proof will be exposed with a heart displayed for ever on the <b>Heart Wall</b>. But only the <b>secret key</b> will give access to your personal love message. For an even greater expression of your love, you can also make your love message directly accessible to everybody from the Heart Wall ! <br /><br />

        Once the satellite is in space, you will be able to follow its position at any moment on the app or on this website.
      </div>
    </div>
    <div class="col-xs-2 col-sm-3"></div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      <%= image_tag("rocket_heart.png", style: "width: 100%; margin-top:25%;")%>
    </div>
  </div>
</section>



<section id="about-page-technical-description">
 <div class="title-about"> The rocket and the satellite</div>
 <div class="row-fluid">
  <div class="col-xs-1 col-sm-1 col-md-1">
  </div>

  <div class="col-xs-5 col-sm-2 col-md-2">
    <%= image_tag("satellite_circle.png", style: "width: 100%; margin-top:0px;")%>
  </div>
  <div class="col-xs-5 col-sm-2 col-md-2">
    <%= image_tag("rocket_circle.png", style: "width: 100%; margin-top: 0px;")%>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="about-description"> 

      For the launch, the space mission will benefit from the experience of the Swiss Space center, that successfully launched a cube sat aboard a PSLV rocket.
      Swiss Cube is a swiss Satellite operated by the Swiss Federal Institute of Techology (EPFL - Switzerland).
      It has been launched in India by a PSLV rocket (see picture on the left) five years ago and is still in service. 
      The satellite reached its 99-minutes-orbit at 720 000 meters from us.
      The 500 love messages will be printed and placed in the satellite. <br /> <br />

      The rocket is built and prepared in India. <b>3, 2, 1 … Ready to launch !</b> <br /> <br />

      At an altitude of 200 km, the rocket will eject the satellite. The love messages will, from then on, be travelling on a 90 min orbit around Earth ! Who knows who will discover them ... and in which century !
    </div>
  </div>
</div>
</section>


<section id="about-page-packages">
  <div class="title-about"> Get in the spaceship !</div>


  <div class="row">
    <a href=<%="/vip"%>>
      <div class="col-xs-0 col-sm-0 col-md-1"></div>
      <div class="col-xs-12 col-sm-6 col-md-5 packages-column">
       <div class="title-packages">
        VIP
      </div>
       <h2>$ 10'000</h2>
       <div class="img-container">
         <%= image_tag "diamond_outline_best.png", style: "margin-top: 0px;"%>  
       </div>
      <ul id="bullet-description1">
       <li>You choose one of the 6 exclusive satellite’s sides on which you want your love message to be 
inscribed. </li>
<li>We will laser engrave your love proof on the satellite.</li>
<li>You will receive the exact same satellite side with your message engraved as well as a bottle of champaign with your love message nicely printed on the label. </li>
<li>You will also have the possibility to assist to the rocket’s launch. Enjoy a week with the founders and see your love message go into space for eternity ! Contact us more details. </li>
<li>Once the satellite is rocketed into space, you will receive a certificate of the launch.</li>
<li>You will be able to follow the satellite and your message's position on the website and on the mobile application.</li>
</ul>
  <div id="conclusion-about">
        Your love proof will travel above your head for ever!
      </div>
     </div>
   </a>

   <a href=<%="/vip"%>>
    <div class="col-xs-12 col-sm-6 col-md-5 packages-column">
     <div class="title-packages">
      Exclusive
    </div>
     <h2>$ 3'000</h2>
     <div class="img-container">

       <%= image_tag "heart_small_rocket.png"%>  
     </div>
     <ul id="bullet-description2">
      <li>We send you a crafted paper specially designed for our satellite.</li>
<li>You handwrite your love words and send us back your letter. </li>
<li>An exclusive heart containing your love proof will be displayed on the Heart Wall.</li>
<li>We will delicately place your message in our satellite. </li>
<li>As soon as we rocket the satellite into space, you will receive a certificate of the launch. </li>
<li>You will be able to follow the satellite and your message's position on the website and on the mobile application. </li>
    </ul>
      <div id="conclusion-about">
        Your love message will travel above your head for ever!
      </div>
  </div>
  <div class="col-xs-0 col-sm-0 col-md-1"></div>

</a>
</div>

<div class="row" style="margin-top:30px;">
  <a href=<%="/choice"%>>
    <div class="col-xs-0 col-sm-0 col-md-1"></div>

    <div class="col-xs-12 col-sm-6 col-md-5 packages-column">
      <div class="title-packages">Premium</div>
      <h2>$ 498</h2>
      <div class="img-container">

        <%= image_tag "heart_small.png", style: "margin-top: 0px;"%>  
      </div>
      <ul id="bullet-description3">
      <li>You shape your love words on the mission's website. </li>
      <li>You will get a crafted copy of your love message, and will be able to personalize it at home. Just send it back to us once you are ready! </li>
      <li>Your love message will be displayed on the Heart Wall and placed in the satellite to be rocketed into space. </li>
      <li>The secret key assigned to your love message will give you a private access to your message on the Heart Wall. </li>
      <li>You will then receive a certificate attesting of the rocket’s launch. </li>
      <li>You will be able to follow the satellite and your message's position on the website and on the mobile application. </li>
    </ul>
      <div id="conclusion-about">
        Your love message will travel above your head for ever!
      </div>

    </div>
  </a>
  <a href=<%="/choice"%>>
    <div class="col-xs-12 col-sm-6 col-md-5 packages-column">
     <div class="title-packages">Heart Wall</div>
     <h2>$ 25</h2>
     <div class="img-container">

       <%= image_tag "heart-wall.png", style: "margin-top: 0px;"%>  
     </div>
     <ul id="bullet-description4">
     <li>You shape your love words on the mission's website.</li>
<li>Your love message will be displayed on the Heart Wall.</li>
<li>Your names will be sealed together on a letter and placed in the satellite to be rocketed into space.</li>
<li>The secret key assigned to your love message will give you a private access to your message on the Heart Wall.</li>
<li>You will be able to follow the satellite and your message's position on the website and on the mobile application. </li>
</ul>
<div id="conclusion-about">
        Your love message will travel above your head for ever!
      </div>

  </div>
  <div class="col-xs-0 col-sm-0 col-md-1"></div>
</a>
</div>

</section>


