
<section id="home">

  <div class="center hero-unit">
    <div class="container">
      <div class="row">
        <h1 id="home-title">Love Space Mission</h1>
        <div class="col-xs-0 col-sm-4 col-md-4" id="home-page-top-left">
        </div>
        <div class="col-xs-0 col-sm-4 col-md-4" id="home-page-top-middle">
          <%= form_for @home_search, url: { action: "search_with_secret_key"} do |f| %>
          <%= f.text_field :secret_key, class: 'form-control', placeholder: "Secret key" %>
          <% end %>
        </div>
        <div class="col-xs-0 col-sm-4 col-md-4" id="home-page-top-right">
        </div>

      </div>
      <div class="row">
        <div class="col-xs-0 col-sm-4 col-md-4">
          <h2 class="caption">
            An eternal proof of your love that will be shown here and sent into space...
          </h2>
        </div>
        <div class="col-xs-0 col-sm-4 col-md-4">
        </div>
        <div class="col-xs-0 col-sm-4 col-md-4">
          <h2 class="caption">
            An eternal proof of your love that will be shown here and sent into space...
          </h2>
        </div>

      </div>
    </div>

    <div class="row">
    <%= link_to "Know the secret", choice_path, class: "btn btn-primary bigger-hover", id: "btn-home-info" %>
    <%= link_to "Offer a Heart", choice_path, class: "btn btn-primary bigger-hover", id: "btn-home-choice" %>
    </div>
  </div> 
</section>


<section id="heart-display">
  <div class="container">
    <%= render 'shared/heart_display' %>
  </div>
</section>

