<% provide(:title, 'Terms of Use') %>
<h1>Terms of Use</h1>
<div class="container">
	<p style="font-family: quicksand; color:#7f8289; text-align: justify; margin-top: 30px; margin-bottom: 30px;">

		Effective April 4th, 2014<br />
		Last update : April 18th, 2014 <br /> </p>

		<p class="title-terms">1. Acceptance of terms</p>
		<p class="terms-use">Welcome to The Love Space Mission ! We developed this service (the “Service”) to enable you to eternalise a love proof ("User Content", "love message") in Space and / or on the Internet. Your use of the Service is subject to these Terms of Use which are a legal agreement (the “Agreement” or "Terms of Use") between you (i.e. “User”, “your” or “you”) and The Love Space Mission (i.e. “Love Space Mission”, “we”, “us” or “our”). Through the Site, the Service provides images, graphics, texts also refered as "Content". Because the Agreement contains important details, you must read the whole document. By  using the Service provided by The Love Space Mission, you are agreeing to be bound to all the terms and conditions of this Agreement. If you do not agree to these Terms, do not use the Service. Any new features which are added to the current Service are also subject to the Terms of Use.</p>

		<p class="title-terms">2. Privacy</p>

		<p class="terms-use">Any information that you provide to The Love Space Mission is subject to our <%= link_to "Privacy Policy", privacy_path, style: "color: #7f8289; font-weight: 700;" %>. By using the Service, you consent to the collection and use of this information.</p>

		<p class="title-terms">3. Description of the Service </p>

		<p class="terms-use">Our web-based Service allows Users to write love proofs (i.e. love messages) that will be sent into space. Love proofs will also be posted on the Heart Wall. The Heart Wall is a unique web page (i.e. our web page) rassembling the love proofs from all the Users. Depending on the User's settings, the love messages are sent into space and posted on the Heart Wall or only posted on the Heart Wall. On the Heart Wall, the User has the possibility to either set a restricted access to his love message or to make it publicly accessible.</p>

		<p class="title-terms">4. Description of the Products </p>
		<p class="terms-use">
		We provide three different products through our Service (<%= link_to "Products", about_path, style: "color: #7f8289; font-weight: 700;" %>).<br />
		<ul class="terms-listing">
			<li>Product 1 : "VIP fully personalized treat"<br />
			This product is going into space and on the Heart Wall. Six users will be provided the opportunity to laser engrave their love message on one of the 6 sides of the satellite. The satellite will be rocketed into space and ejected from the rocket once the altitude of the orbit is reached. (How is it going to Space? Click <%= link_to "here", about_path, style: "color: #7f8289; font-weight: 700;" %>).<br />

			The User writes his love message on our specific web page (URL PATH). The User has the opportunity to change the default text and has to fill in the "Your love's name" and "Your name" fields. The User is then provided a "Secret Key" to preciously keep as this key will enable the user and the persons in possession of this "Secret Key" to retrieve the love message sent into space and posted on the Heart Wall. The User will receive via mail a certificate of the satellite's launch and a copy of the crafted love message sent to space.</li><br />
			<li>Product 2 : "Rocket your love proof into space"<br />
			This product is going into space and on the Heart Wall. We will print the user's love message and put it in the satellite, which will be ejected from the rocket, once the altitude of the orbit is reached. (How is it going to Space? Click <%= link_to "here", about_path, style: "color: #7f8289; font-weight: 700;" %>).<br />
			
			The User writes his love message on our specific web page (URL PATH). The User has the opportunity to change the default text and has to fill in the "Your love's name" and "Your name" fields. The User is then provided a "Secret Key" to preciously keep as this key will enable the user and the persons in possession of this "Secret Key" to retrieve the love message sent into space and posted on the Heart Wall. The User will receive via mail a certificate of the satellite's launch and a copy of the crafted love message sent to space.</li><br />

			<li>Product 3 : "Eternalize your love on the Heart Wall"<br />
			This product (i.e. the user's love message) will be posted on the Heart Wall.<br />
			
			The User writes his love message on our specific web page (URL PATH). The User has the opportunity to change the default text and has to fill in the "Your love's name" and "Your name" fields. Th e User is then provided a "Secret Key" to preciously keep as this key will enable the user and the persons in possession of this "Secret Key" to retrieve the love message posted on the Heart Wall.</li>
		</ul></p>
		
		<p class="title-terms">5. Eligibility to use the Service</p>

		<p class="terms-use">The service is only available to individuals who are 18 years of age or older. If you are between the ages of 13 and 17, you can only use the Service with the consent and supervision of your parent or legal guardian who should be at least 18 years old, provided that your parent or legal guardian also agrees to be bound by these Terms and agrees to be responsible for your use of the Service. If you have previously been suspended from using the Service for any reason and we have not explicitly authorized you to resume using the Service, you are not eligible to use the Service. We reserve the right to refuse the use of the Service to anyone at any time for any reason without liability.<br /></p>


		<p class="title-terms">6. Community guidelines</p>
		
		<p class="terms-use">The Love Space Mission is not a place for hatred, harassment, disrespect, abuse, meanness or spam. We reserve the right to remove love messages and terminate accounts for such activities.<br /></p>


		<p class="title-terms">7. Registration and account information</p>
		<p class="terms-use">
		You may view Content on the Site without registering. To use certain aspects of the Service, you may be required to register. We recommend you to create an account if you choose to purchase product 1 or product 2 (Section 4). When registering, you shall provide accurate, complete, truthful and updated information. If you fail to do so, it will constitute a breach of the Terms of Use and your account may be immediatly terminated.
		You agree to notify The Love Space Mission immediately if you discover that your account has been used without your authorization or if there has been any other breach of your account's security. You also agree to provide additional information we may reasonably request and to answer truthfully and completely to any questions we might ask you in order to verify your identity. You need to create an account to be able to be refunded if applicatble (Section 13).
		You are responsible for keeping secret the password that you use to access the Service. To protect your account, we strongly encourage you to use a "strong" password (password using a combination of upper and lower case letters, numbers as well as symbols). The Love Space Mission cannot and will not be liable for any damage or loss arising from your failure to comply with the above.
<br /></p>


		<p class="title-terms">8. Users</p>
	
		<p class="terms-use">As a User, you are solely responsible for investigating the Service and asking questions to the extent you feel is necessary before you purchase a product from The Love Space Mission. All purchases are made voluntarily and at your sole risk and discretion. <br /></p>

		<p class="title-terms">9. User Content</p>

		<p class="terms-use">While using the Service, you will post texts (i.e. "User Content"). You are responsible for all Content that you upload, post and transmit via the Service. By submitting, posting or displaying Content throught the Service, you grant The Love Space Mission a perpetual, non-exclusive, royalty-free, transferable, worldwide license to use, publicly display, store, reproduce, modify, create derivative works, and distribute your User Content on or in connection with the Service and our related marketing and promotional activities. As between you and The Love Space Mission, you continue to hold all ownership interest in your User Content. You represent and warrant that your User Content and our use of your User Content will not infringe any third party's intellectual property rights, proprietary rights, privacy rights, confidentiality, rights of publicity or otherwise violate these Terms or applicable law.<br /></p>

		<p class="title-terms">10. Termination</p>
		
		<p class="terms-use">To cancel the Service and terminate your account, contact us (<%= mail_to "mail@love-space-mission.com", "mail@love-space-mission.com", style: "color: #7f8289; font-weight: 700;" ,
		subject: "I want some help from an amazing team!",
		body: "Hey there! I'd just have a question or two.. Or more! I Know you will be glad to help me! :)" %>). After cancellation you will no longer have access to your account and Content. We accept no liability for such deleted information and content. We reserve the right to remove and or discard (with or without notice) any Content available as part of your account if deemed by us to be contrary to these Terms of Use. We may retain your account information after you terminate in accordance with our regulatory, accounting, and legal compliance procedures.<br /></p>
		
	
		<p class="title-terms">11. Fees and payments</p>

		<p class="terms-use">By using the Service you agree to our fees listed here : Click <%= link_to "Fees", choice_path, style: "color: #7f8289; font-weight: 700;" %>. We reserve our right to change the prices at any time. Changes to fees are effective after we post notice of the changes on the Service. Updated fees are applied to purchases made after the notice is posted. You are responsible for paying all taxes, levies or duties imposed by taxing authorities. associated with your use of the Service. Purchases are made via Paypal or credit card. We are not responsible for the performance of Paypal or any 3rd party credit card processing services.<br /></p>

		<p class="title-terms">12. Launch of the rocket and satellite</p>

		<p class="terms-use">We reserve the right to change the date and location of the satellite and the rocket's launch as well as the rocket company. More generally speaking, we reserve the right to change any detail related to the launch without the User's consent.<br /></p>
	

		<p class="title-terms">13. Refunds</p>

		<p class="terms-use">Purchases, along with our fees and charges, are not refundable unless if by January 1st 2017, the minimum number of products to be launched into space is not reached and therefore the cost of the satellite's launch is not covered. After this date, Users having created an account and having purchased a product 1 or product 2 (Section 4) have three months to claim by mail their refund.Only the part of the product's price covering the cost of the launch will be refunded (i.e. up to 50% of the price of the product purchased by the User).
		Refunds for products 1 and 2 can not exceed $1500 and $300 respectively per User. Refunds for product 3 are not available. In case our database is comprimised or deteriorated in a way that it would be impossible for us to be absolutely sure of the wire transfer's reciepient, refunds will not be made available. <br /></p>


		<p class="title-terms">14. PayPal</p>
		
		<p class="terms-use">If you purchased one of the product proposed by The Love Space Mission and chose PayPal as a payment gateway, in the eventuality of a refund, we will use PayPal to refund you. Therefore you must agree to comply with the PayPal <a href="https://www.paypal.com/ch/webapps/mpp/ua/acceptableuse-full", style= "color: #7f8289; font-weight: 700;">PayPal Acceptable Use Policy</a>.<br /></p>



		<p class="title-terms">15. Links</p>

		<p class="terms-use">The Service may provide links to third-party websites, services or resources that are not owned or controlled by The Love Space Mission. The access and or use of the above mentionned sites, services or resources are at your own risk. We are not responsible for the availability of such external websites, services or resources.The Love Space Mission can not be held responsible for any loss or damage of any sort linked to your interactions with these parties. We strongly encourage you to be aware of when you leave the Service, and to read the terms, conditions and privacy policies of any third-party website or service that you access and / or use.<br /></p>


		<p class="title-terms">16. International use</p>

		<p class="terms-use">Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable content. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside.

		<p class="title-terms">17. Indemnity</p>

		<p class="terms-use">You agree to defend, indemnify and hold harmless The Love Space Mission, its subsidiaries and affiliated companies, and their directors, officers, employees, contractors, suppliers, representatives and agents from and against any and all claims, damages , causes of action, obligations, liabilities , losses, costs or debt, and expenses (including attorneys' fees and costs) and all amounts paid in settlement arising from or relating to your use or misuse of, or access to, the Service and Content, breach of these Terms or violation of any law. The Love Space Mission reserves the right to assume the exclusive defense and control of any matter for which you have agreed to indemnify The Love Space Mission and you agree to assist and cooperate with The Love Space Mission in the defense or settlement of any such matters.<br /></p>
		

		

		<p class="title-terms">18. Disclamer of warranties</p>

		<p class="terms-use">YOU ACKNOWLEDGE THAT THE LOVE SPACE MISSION HAS NO DUTY TO TAKE ANY ACTION REGARDING ANY OF THE FOLLOWING: WHICH USERS GAIN ACCESS TO THE SITE; WHAT CONTENT USERS ACCESS THROUGH THE SITE; WHAT EFFECTS THE CONTENT MAY HAVE ON USERS; HOW USERS MAY INTERPRET OR USE THE CONTENT; OR WHAT ACTIONS USERS MAY TAKE AS A RESULT OF HAVING BEEN EXPOSED TO THE CONTENT. THE LOVE SPACE MISSION CANNOT GUARANTEE THE AUTHENTICITY OF ANY DATA OR INFORMATION PROVIDED BY USERS REGARDING THE LOVE PROOFS (I.E. LOVE MESSAGES). THE LOVE SPACE MISSION MAKES NO REPRESENTATIONS CONCERNING ANY CONTENT ON THE SITE, AND THE LOVE SPACE MISSION IS NOT LIABLE FOR THE ACCURACY, LEGALITY, OR DECENCY OF MATERIAL CONTAINED ON THE SERVICE.<br />
		THE LOVE SPACE MISSION DOES NOT GUARANTEE THAT ANY CONTENT WILL BE MADE AVAILABLE THROUGH THE SERVICE. THE LOVE SPACE MISSION HAS NO OBLIGATION TO MONITOR THE SERVICE OR CONTENT. THE LOVE SPACE MISSION RESERVES THE RIGHT TO, AT ANY TIME, FOR ANY REASON, AND WITHOUT NOTICE: (I) CANCEL, REJECT, INTERRUPT, REMOVE, OR SUSPEND A USER CONTENT; (II) REMOVE, EDIT, OR MODIFY ANY CONTENT, INCLUDING, BUT NOT LIMITED TO, ANY USER CONTENT; AND (III) REMOVE OR BLOCK ANY USER OR USER CONTENT. THE LOVE SPACE MISSION RESERVES THE RIGHT NOT TO COMMENT ON THE REASONS FOR ANY OF THESE ACTIONS.<br />
		THE SERVICE IS PROVIDED “AS IS” AND “AS AVAILABLE” AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. THE LOVE SPACE MISSION, AND ITS DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS, AND CONTENT PROVIDERS DO NOT WARRANT THAT: (A) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR (C) THE RESULTS OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK. SOME STATES OR COUNTRIES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.<br />
		THE LOVE SPACE MISSION MAKES NO GUARANTY OF CONFIDENTIALITY OR PRIVACY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THE SITE OR ANY WEBSITE LINKED TO THE SITE. THE LOVE SPACE MISSION WILL NOT BE LIABLE FOR THE PRIVACY OF EMAIL ADDRESSES, REGISTRATION AND IDENTIFICATION INFORMATION, DISK SPACE, COMMUNICATIONS, CONFIDENTIAL OR TRADE-SECRET INFORMATION, OR ANY OTHER CONTENT STORED ON THE LOVE SPACE MISSION’S EQUIPMENT, TRANSMITTED OVER NETWORKS ACCESSED BY THE SITE, OR OTHERWISE CONNECTED WITH YOUR USE OF THE SERVICE. THE USE OF THE SERVICE IS AT YOUR OWN RISK.<br /></P>


		<p class="title-terms">19. Limitation of liability</p>

		<p class="terms-use">UNDER NO CIRCUMSTANCES WILL THE LOVE SPACE MISSION PARTIES BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, FOR ANY DIRECT, INDIRECT, ECONOMIC, EXEMPLARY, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL LOSSES OR DAMAGES) THAT ARE DIRECTLY OR INDIRECTLY RELATED TO: (A) THE SERVICE; (B) THE LOVE SPACE MISSION CONTENT; (C) USER CONTENT; (D) YOUR USE OF, INABILITY TO USE, OR THE PERFORMANCE OF THE SERVICE; (E) ANY ACTION TAKEN IN CONNECTION WITH AN INVESTIGATION BY THE LOVE SPACE MISSION PARTIES OR LAW ENFORCEMENT AUTHORITIES REGARDING YOUR OR ANY OTHER PARTY'S USE OF THE SERVICE; (F) ANY ERRORS OR OMISSIONS IN THE SERVICE'S OPERATION; OR (H) ANY DAMAGE TO ANY USER'S COMPUTER, MOBILE DEVICE, OR OTHER EQUIPMENT OR TECHNOLOGY INCLUDING, WITHOUT LIMITATION, DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, LOSS OF DATA, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, EVEN IF FORESEEABLE OR EVEN IF THE LOVE SPACE MISSION PARTIES HAVE BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR TORT (INCLUDING, WITHOUT LIMITATION, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, OR THEFT OR DESTRUCTION OF THE SERVICE). IN NO EVENT WILL THE LOVE SPACE MISSION PARTIES BE LIABLE TO YOU OR ANYONE ELSE FOR LOSS, DAMAGE OR INJURY, INCLUDING, WITHOUT LIMITATION, DEATH OR PERSONAL INJURY. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT WILL THE LOVE SPACE MISSION PARTIES TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES OR CAUSES OR ACTION EXCEED ONE HUNDRED UNITED STATES DOLLARS ($100.00).<br />
		YOU AGREE THAT IN THE EVENT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF LOVE SPACE MISSION’S ACTS OR OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE YOU TO AN INJUNCTION PREVENTING ANY EXPLOITATION OF ANY WEB SITE, SERVICE, PROPERTY, PRODUCT OR OTHER CONTENT OWNED OR CONTROLLED BY THE LOVE SPACE MISSION PARTIES, AND YOU WILL HAVE NO RIGHTS TO ENJOIN OR RESTRAIN THE DEVELOPMENT, PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF ANY WEB SITE, PROPERTY, PRODUCT, SERVICE, OR OTHER CONTENT OWNED OR CONTROLLED BY THE LOVE SPACE MISSION PARTIES.<br />
		THE LOVE SPACE MISSION IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES.<br /></p>



		<p class="title-terms">20. Waiver and Release</p>

		<p class="terms-use">If you are a resident in a jurisdiction that requires a specific statement regarding waiver and release then the following applies. For example, California residents must, as a condition of this Agreement, waive the applicability of California Civil Code Section 1542 for unknown claims which states: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR."  You hereby waive this section of the California Civil Code and any similar provision in law, regulation or code that has the same effect or intent as the foregoing release.<br /></p>


		<p class="title-terms">21. Assignment</p>

		<p class="terms-use">This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by The Love Space Mission without restriction.<br /></p>


		<p class="title-terms">22. Notification Procedures</p>

		<p class="terms-use">You agree that The Love Wall Mission may provide notifications to you via email, written or hard copy notice, or through conspicuous posting of such notice on our website. You may opt-out of certain means of notification or to receive certain notifications.</p>


		<p class="title-terms">23. Agreement </p>

		<p class="terms-use">These Terms are the entire agreement between you and The Love Space Mission regarding its subject matter. If any provision of these Terms are deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Agreement, which shall remain in full force and effect. The Love Space Mission’s failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision.<br /></p>


		<p class="title-terms">24. Changes to Terms </p>
	
		<p class="terms-use">The Love Space Mission may alter these Terms at any time, so please review the policies frequently. If a material change is made, The Love Space Mission may notify you in the Service by email or other places we think appropriate. A "material change" will be determined at The Love Space Mission’s sole discretion, in good faith, and using common sense and reasonable judgment.<br /></p>


		<p class="title-terms">25. Contact us </p>
		
		<p class="terms-use">If you have any questions about these Terms, the practices of this site, or your dealings with this Website or complaints, don't hesitate to contact us at <%= mail_to "mail@love-space-mission.com", "mail@love-space-mission.com", style: "color: #7f8289; font-weight: 700;" ,
		subject: "I want some help from an amazing team!",
		body: "Hey there! I'd just have a question or two.. Or more! I Know you will be glad to help me! :)" %>. </p>

</p>
</div>

