<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>

        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        <div class="centered">
        <%= f.submit "Sign in", class: "btn btn-large btn-primary"%>
        <%= link_to "New user ? Sign up", signup_path, class: "btn btn-default", id: "button-signup-from-signin",  role:"button" %>
        </div>

    <% end %>

  </div>
</div>