<div class="heart" style="float:none; margin:auto;" id="<%= @micropost.id %>">
    <span class="content"><%= @micropost.name1 %></span>
    <span class="content">&amp;</span>
    <span class="content"><%= @micropost.name2 %></span>
    
  <!-- 
  <span class="content">is going to be launched: <%= @micropost.launch_into_space.to_s %></span> 
  <span class="timestamp">
    Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
  </span>
-->
    <% if current_user.admin %>
    <%= link_to "delete", @micropost, method: :delete,
    data: { confirm: "You sure?" },
    title: @micropost.content %>
    <% end %>
  </div>