<% provide(:title, "create_heart_auto") %>

<title>create_heart_auto</title>

<p id="secret-key-generator"><%= random_key.to_s%></p>

<%= form_for :secret_key_check, url: { action: "check_secret_key"}, method: :get do |f| %>
      <%= f.hidden_field :action, value: "check_secret_key" %>
      <%= f.text_area :secret_key, placeholder: "key" %>
      <%= f.submit "check", id:"btn-auto-check-secret-key"%>
      <% end %>

<%= form_for @micropost, url: { action: "pay_heart_auto"}, method: :patch do |f| %> 

  <%= f.check_box :launch_into_space, value: 0 %> 
  <%= f.check_box :content_public, value: 0 %>           
  <%= f.text_area :content, placeholder: "love message" %>
  <%= f.text_area :extra, placeholder: "extra" %>
  <%= f.text_area :name1, placeholder: "name1" %>
  <%= f.text_area :name2, placeholder: "name2" %>
  <%= f.text_field :assigned_secret, placeholder: "Assigned key" %>
  <%= f.text_field :secret_key, placeholder: "Your secret key" %>
  <%= f.text_field :partner_name, placeholder: "Your love's Name" %>
  <%= f.text_field :partner_email, placeholder: "Your love's e-mail" %>
  <%= f.text_field :mail_street, placeholder: "Street" %>
  <%= f.text_field :mail_street2, placeholder: "Street 2" %>
  <%= f.text_field :mail_cp, placeholder: "ZIP" %>
  <%= f.text_field :mail_city, placeholder: "City" %>
  <%= f.text_field :mail_state, placeholder: "State" %>
  <%= f.text_field :mail_country, placeholder: "Country" %>

  <%= fields_for @user do |user_form| %>
    <%= user_form.text_field :name, value: "", placeholder: "First name" %>
    <%= user_form.text_field :email, value: "", placeholder: "Email" %>
    <%= user_form.password_field :password, placeholder: "Password" %>
    <%= user_form.password_field :password_confirmation, placeholder: "Password confirmation" %>
  <% end %>
  <%= f.submit "submit", id:"btn-access-payment" %>
<% end %>


