<% provide(:title, "Offer your Heart") %>
<section id="heart-preview-header-space">
	<div class="col-xs-12 col-sm-12 col-sm-offset-0">
		<h1 id="preview-title">Offer your Heart</h1>
	</div> 
	
</section>
<div class="centered" style="width: 300px; margin: auto;">
	<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
</div>
<section id="choice-space-configure-letter">
	<div class="col-xs-12 col-sm-12 col-sm-offset-0">
		<div id="heart-preview">          
			
			<%= f.hidden_field :launch_into_space, value: true %> 
			<%= f.hidden_field :send_email_to_partner, value: false %>        
			<%= f.hidden_field :send_paper_copy, value: false %>
			
			<%= f.text_area :content, value: "Here is a love message inspiration you can freely edit...\n\nI want to give you my heart and soul. I don't care about anything else in the world because I am in love with you. I love you. I am getting butterflies in my stomach just at the thought of seeing you again. You have made all of my dreams come true and I can't imagine spending time with anyone else.\n\nI could not ask for more. I am the luckiest person in the world...", class: 'form-control', rows: "20", placeholder: "Your love message" %>
			<%= f.text_area :extra, value: "Love always,", class: 'form-control', placeholder: "Some more sweet words..." %>
			<%= f.text_area :name1, class: 'form-control', placeholder: "Your love's name" %>
			<div class="centered" style="font-size: 30px; color: #fff; font-family: quicksand;">&amp;</div>
			<%= f.text_area :name2, class: 'form-control', placeholder: "Your name" %>

			<div class="centered" style="display: inline-blocks;">
				<%= f.submit "Reserve", class: "btn btn-default pull-right", id: "btn-reserve-preview"%>
				<% if signed_in?%>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<% else%>
				<% redirect_to signup_path %>
				<% end %>
				<% @random_secret= random_key %>
				<%= f.hidden_field :assigned_secret, value: @random_secret%>
				<%= f.hidden_field :secret_key, value: @random_secret%>
			</div>			<%end%>          
		</div>
	</div>

</section>
<section id="banner-love-letter">
	<div class="row" style="margin-top:30px;">
		<div class="col-xs-2 col-sm-0 col-md-1"></div>
		<div class="col-xs-8 col-sm-4 col-md-3">
			<%= image_tag "orbiting-hearts.png"%>  
		</div>
		<div class="col-xs-2 col-sm-1 col-md-1"></div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<h1>Premium</h1>
			<h2>Rocket your love proof into space !</h2>
			<p>
				Write your love words via toward our website<br />
				Get a copy of your words, personalize it, we carry the shipment !<br />
				(Shipment certificate)<br />
				Vous écrivez vos mots d’amour via le site internet.<br />
				On vous envoie votre texte, vous le personnalisez et vous nous le renvoyez.<br />
				Nous plaçons vos mots d’amours dans le satellite. <br />
				Vous recevez un certificat de lancement.<br />
				Place de choix le heart wall.<br />
			</p>
		</div>
	</div>
</section>

