<footer class="footer" id="footer">
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Terms of use", terms_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About us", about_path %></li>
      <li><%= link_to "Get in the Spaceship !", choice_path %></li>
    </ul>
  </nav>
</footer>