<nav class="navbar navbar-default  navbar-fixed-top" role="navigation" id="header">
<div id="ColorBar" class="ng-scope">
      <div class="kim-yellow"></div>
      <div class="kim-amber"></div>
      <div class="kim-orange"></div>
      <div class="kim-sunset"></div>
      <div class="kim-red"></div>
      <div class="kim-fuchsia"></div>
      <div class="kim-purple"></div>
      <div class="kim-indigo"></div>
      <div class="kim-blue"></div>
      <div class="kim-aqua"></div>
      <div class="kim-green"></div>
      <div class="kim-lime"></div>
</div>

  <div class="header-container" style="margin-top: 6px; margin-right: 18px">
    <a href="/" id="logo" data-no-turbolink>The Love Space Mission</a>
    <% if signed_in? %>

    <% if current_user.admin %>
      <div class="btn-group pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          <span>A</span>
        </button>
        <ul class="dropdown-menu" role="menu" id="btn-menu-dropdown">
          <li style="font-family:quicksand; font-weight: 700; color: #666; text-align:center; font-size: 1.5em;">Admin Pannel</li>
          <li><%= link_to "Users", admin_pannel_users_path %></li>
          <li><%= link_to "Posts", admin_pannel_posts_path %></li>
        </ul>
      </div>
    <% end %>

    <div class="btn-group pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="btn-menu">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <ul class="dropdown-menu" role="menu" id="btn-menu-dropdown">
        <li><%= link_to "My account", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      </ul>
    </div>
        <% else %>
        <div class="btn-group pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="btn-menu">
            <span class="glyphicon glyphicon-align-justify"></span>
          </button>
          <ul class="dropdown-menu" role="menu" id="btn-menu-dropdown">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
            <li><%= link_to "About us", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
    <% end %>

  </div>

</nav>