<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta property="og:title" content="The Love Space Mission"/>
  <meta property="og:image" content="https://www.love-space-mission.com/assets/lovespacemission.png"/>
  <meta property="fb:admin" content="jch.gsc"/>
  <link rel="image_src" href="https://www.love-space-mission.com/assets/lovespacemission.png" />

  <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "prototype" %>
  <script src="/assets/javascripts/masonry.pkgd.min.js"></script>
  <script src="/assets/javascripts/isotope.pkgd.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50237527-1', 'love-space-mission.com');
  ga('send', 'pageview');

</script>
<%= favicon_link_tag 'favicon.png' %>
</head>

<body>
  
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
    <div class="alert alert2 alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </div>
  
    <%= render 'layouts/footer' %>
  
</body>
</html>
